body{
  font-family: Arial;
  line-height: 1.5;
  background-color: #f4f4f4;
}

table {
    border-collapse: collapse;
    width: 100%;

  }

  .table-wrapper{
    border: 0.125rem solid lightgrey;
    background-color: white;
    padding: 1rem;
    max-width: 60rem;

  }
  caption{
    text-align: left;
  }
  
  thead th {
    background-color: lightgreen;
  }
  
  tbody th {
    background-color: whitesmoke;
  }
  
  th, td {
    border: 0.0625rem solid grey;
    text-align: left;
    padding: 1rem;
  }
  
  .narrow-th {
    font-weight: bold;
    /* background-color: yellow; */
    display: none;
    /* display: block; */
  }
  
  @media only screen and (max-width: 600px) { 
  
  
    td, th{
      /* font-weight: bold; */
    }

    .narrow-th {
      display:contents;
      /* font-weight: normal; */
    }


    .third-column
    {
      position: absolute;
      left: -100rem;
    }
    /* th{
      display:none
    }; */

    .row-header{
      /* display: none; */
      position: absolute;
      left: -100rem;

    }

 }